.contact_wrapper {
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0 20px 0; /* spacing around the icons */
}

.contact-icons a {
  color: #5000ca;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  color: #7b35e3;
  transform: scale(1.2);
}

.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}